<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div th:if= "${patient_list == null}">
Category doesn't exist.
</div>
	<div th:if="${patient_list != null}">
		<h3>Patient List</h3>
		<!--<p th:text=${cart.movies.size()}></p>-->
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Patient FullName</th>
					<th>PRN</th>
					<th>Gender</th>
					<th>MartialStatus</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="patients : ${patient_list}">
					<td th:text=${patients.fullName}></td>
					<td th:text=${patients.prn}></td>
					<td th:text=${patients.gender}></td>
					<td th:text=${patients.maritalStatus}></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>