/******************** BILLING ********************/
a.round_button {
	
}
a.round_button span {
	/* display: inline-block; */
padding: 2px 7px;
margin: 1px;
font-size: 12px;
font-weight: normal;
line-height: 1.42857;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
color: #ffffff;
background-color: #428bca;
border-color: #357ebd;
border-radius: 4px;
}
a.round_button span img {
	margin: 0 4px 0 0;
	vertical-align: middle;
}
a.round_button:active {
	background-position: right bottom;
	color: #FFF;
	outline: medium none;
	text-decoration: none;
}
a.round_button:hover {
	
}
a.round_button:active span {

}
a img {
	border-width: 0;
}

a.rec_button {
	background: url("images/bg_button_rectangle_a.png") no-repeat scroll right top transparent;
	display: block;
	float: left;
	font: 11px arial,sans-serif !important;
	height: 18px;
	margin-right: 6px;
	outline: medium none;
	overflow: hidden;
	padding-right: 14px;
	text-decoration: none !important;
	text-align:center;
	color:#FFF;
}
a.rec_button span {
	background: url("images/bg_button_rectangle.png") no-repeat scroll 0 0 transparent;
	display: block;
	line-height: 11px;
	padding: 3px 0 5px 18px;
	color:#FFF;
}
a.rec_button span img {
	margin: 0 4px 0 0;
	vertical-align: middle;
}
a.rec_button:active {
	background-position: right bottom;
	color: #FFF;
	outline: medium none;
	text-decoration: none;
}
a.rec_button:hover {
	text-decoration: none;
}
a.rec_button:active span {
	background-position: left bottom;
	padding: 3px 0 4px 18px;
	color:#FFF;
}